<html>
  <head>
  <link rel="stylesheet" type="text/css" href="stylesheets\guess_number_game.css">
</head>

<body>
<div class="content">
  
      <h1>Guess the secret Number</h1>
      <h2>(Pick a number between 1-10)</h2>
      <h2><%= message %></h2>
    <form>
  <input type='text' name="guess"><br><br>
  <button type="submit"><span>Guess</span></button>
  
</form>

    <a href="/">
      <button type="button">
        <span>Home</span>
      </button>
    </a>
  
</div>
<div class="footer">
    <hr>
    Copyright Antonio Bethune 2016
 </div>
</body>


</html>
