<html>
  <head></head>
  <body>
    <p>
      Guess the secret Number <br>
      <%= message %>
    </p>
    <form>
  <input type='text'/>
  <input type="submit" id="submit" value="Click here to submit form">
</form>
  </body>
</html>