<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets\index.css">
</head>

<body>
<div>
    <div style="float: center; ">
      <a href="/tic_tac_toe_game">
        <button type="button">
          <img src="pics/tic_tac_toe.png" style= "width:100px; height:100px; float: center;">
          <span style= "float: center;"><h3>Tic Tac Toe</h3>A game in which two players alternately put X's and O's <br> in compartments of a figure formed by two vertical lines <br> crossing two horizontal lines and each tries to get a row <br> of three Xs or three Os before the opponent does</span>
        </button>
      </a>
      <a href="/rock_paper_scissors_game">
        <button type="button">
          <img src="pics/rps.png" style= "width:100px; height:100px; float: center;">
          <span style= "float: center;"><h3>Rock Paper Scissors</h3>A game in where each player (player vs. cpu) pick a <br> type, rock, paper, or scissors and the winner is <br> determined by  a predetermined rule set. Rock  <br> beats scissors, scissors beats paper, and paper <br> beats rock</span>
        </button>
      </a>
      <a href="/guess_number_game">
        <button type="button">
          <img src="pics/hi_low.png" style= "width:100px; height:100px; float: center;">
          <span style= "float: center;"><h3>High Low</h3>A game where a random number is generated and the player <br> tries to guess the number. If the player's guess is too high or <br> low they will be told in order to make a more accurate guess</span>
        </button>
      </a>
    </div>
</div>
<div class="footer">
    <hr>
    &copy Antonio Bethune 2016
 </div>
 </body>

</html>
