<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets\index.css">
</head>
<body class="grad1">
  <div>
    <a href="/guess_number_game">
      <button type="button">
        <img src="pics/stich_dance.gif"><br>
        <span>Guess The Number<br>(Game)</span>
      </button>
    </a>
      
    <a href="/rock_paper_scissors_game">
      <button type="button">
        <img src="pics/stich.gif"><br>
        <span>Rock Paper Scissors<br>(Game)</span>
      </button>
    </a>
      <br>
    <a href="/about_me">
      <button type="button">
        <img src="pics/stich_fan.gif"><br>
        <span>About Me</span>
      </button>
    </a>
  </div>
</body>
</html>
