<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets\index.css">
</head>
<br>
<div class="nav_bar">
  <h3>Antonio's Fun Box</h3>
</div>
<br>

<div>
  <body class="grad1">
    <div style="float: center; ">
      <a href="/tic_tac_toe_game">
        <button type="button">
          <img src="pics/stich_fan.gif" style= "float: left;"><img src="pics/stich_fan.gif" style= "float: right;">
          <span style= "float: center;"><h3>Tic Tac Toe</h3>Here is where a description would go if I had one <br> but since I dont I think this can suffice as a space saver for now.<br> Maybe later I might make this something more detaied on what game is about to be played</span>
        </button>
      </a>
      <a href="/rock_paper_scissors_game">
        <button type="button">
          <img src="pics/stich.gif" style= "float: left;"><img src="pics/stich.gif" style= "float: right;">
          <span style= "float: center;"><h3>Rock Paper Scissors</h3>Here is where a description would go if I had one <br> but since I dont I think this can suffice as a space saver for now.<br> Maybe later I might make this something more detaied on what game is about to be played</span>
        </button>
      </a>
      <a href="/guess_number_game">
        <button type="button">
          <img src="pics/stich_dance.gif" style= "float: left;"><img src="pics/stich_dance.gif" style= "float: right;">
          <span style= "float: center;"><h3>Guess The Number</h3>Here is where a description would go if I had one <br> but since I dont I think this can suffice as a space saver for now.<br> Maybe later I might make this something more detaied on what game is about to be played</span>
        </button>
      </a>
    </div>
  </body>
</div>

</html>
