<html>
  <head>
  <link rel="stylesheet" type="text/css" href="stylesheets\guess_number_game.css">
</head>
  <body class="grad1">
    <p>
      <h1>Rock Paper Sciccors </h1><br>
      <h2><%= "The cpu picked " + cpu %> <br><%=message %></h2>
    </p>
<form>
  <button name="pick" type="submit" value="0">Rock</button>
  <button name="pick" type="submit" value="1">Paper</button>
  <button name="pick" type="submit" value="2">Sicissors</button>
</form>

    <a href="/">
      <button type="button">
       <br>
        <span>Home</span>
      </button>
    </a>
  </body>
</html>