<html>
  <head>
  <link rel="stylesheet" type="text/css" href="stylesheets\rock_paper_scissors_game.css">
</head>

<body>
    <p>
      <h1>Rock Paper Sciccors </h1>
      <h2><%= "The cpu picked " + cpu %> <br><%=message %></h2>
    </p>
<div>
  <form>
    <button class="button-round" name="pick" type="submit" value="0"><img src="pics/rock.png" style= "width:100px; height:100px; float: center;"></button>
    <button class="button-round" name="pick" type="submit" value="1"><img src="pics/paper.png" style= "width:100px; height:100px; float: center;"></button>
    <button class="button-round" name="pick" type="submit" value="2"><img src="pics/sciccors.png" style= "width:100px; height:100px; float: center;"></button>
  </form>

      <a href="/"><button type="button"><span>Home</span></button></a>
</div>
<div class="footer">
    <hr>
    &copy Antonio Bethune 2016
 </div>
</body>

</html>