h1 {
  background: linear-gradient(to bottom right, red, white, blue); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  text-align: center;
}

h2{
  font-size: 30px;
  text-align: center; 
  color: green;
}

form {
 text-align: center; 
}

button {
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom right, red, white, blue); /* Standard syntax (must be last) */
  padding: 10px 10px 10px !important;
  font-weight: bold;
  border-radius: 100px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
  outline-color: blue;
}

button:hover {
  color: #000;
  background-color: #EDEDED;
  -webkit-box-shadow: 5px 5px 10px #666;
  -moz-box-shadow: 5px 5px 10px #666;
  box-shadow: 5px 5px 10px #666;
}



html {
    min-height: 100%
}

h3 {
  background: linear-gradient(to bottom right, red, white, blue); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

button:hover {
  color: #000;
  background-color: #EDEDED;
  -webkit-box-shadow: 5px 5px 10px #666;
  -moz-box-shadow: 5px 5px 10px #666;
  box-shadow: 5px 5px 10px #666;
}

div {
    float: center;
    text-align:center;
}

.grad1 {
    background: linear-gradient(to bottom left, red, black, blue); /* Standard syntax (must be last) */
}

.nav_bar{
  background: linear-gradient(to bottom left, red, black, blue); /* Standard syntax (must be last) */
  padding: 10px 10px 10px !important;
  font-weight: bold;
  border-radius: 100px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 3px solid black;
  cursor: pointer;
  outline-color: blue;
}



