h1 {  
  background-color: #333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  color: 
}

h2{
  background-color: #333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  color: #4e5665;
}

form {
 text-align: center; 
}

button {
  width: 27%;
  height: 7%;
  padding: 10px 10px 10px !important;
  border: 1px solid black;
  cursor: pointer;
  background-color: #e9eaed;
  padding: 10px 10px 10px !important;
  font-weight: bold;
  border: 1px solid black;
  font-size: 18px;
  text-align: center;
  color: #4e5665;
}

button:hover {
  color: #000;
  background-color: #EDEDED;
  -webkit-box-shadow: 5px 5px 10px #666;
  -moz-box-shadow: 5px 5px 10px #666;
  box-shadow: 5px 5px 10px #666;
}

.button-round {
  width: 150px;
  height: 150px;
  padding: 10px 10px 10px !important;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #EDEDED;
}

.button-round:hover {
  color: #000;
  background-color: #EDEDED;
  -webkit-box-shadow: 5px 5px 10px #666;
  -moz-box-shadow: 5px 5px 10px #666;
  box-shadow: 5px 5px 10px #666;
}



html {
    min-height: 100%;
    background-color: #e9eaed;
}

h3 {
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

button:hover {
  color: #000;
  background-color: #EDEDED;
  -webkit-box-shadow: 5px 5px 10px #666;
  -moz-box-shadow: 5px 5px 10px #666;
  box-shadow: 5px 5px 10px #666;
}

div {
    float: center;
    text-align:center;
}

.content:after {
  content: "";
  display: block;
}

.footer, .content:after {
  position:relative;
  height: 30px;
  width: 100%;
  color: white;
  margin-left: -10px;
}
.footer{
  bottom:-320px;
  text-align:right;
  color: #4e5665;
}

